<h1>Formulario de Libro</h1>

<form method="post">
    {% csrf_token %}

    <div>
        <label for="id_titulo" class="from">Título:</label>
        {{ form.titulo }}
        {% if form.titulo.errors %}
            <ul class="errors">
                {% for error in form.titulo.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_autor">Autor:</label>
        {{ form.autor }}
        {% if form.autor.errors %}
            <ul class="errors">
                {% for error in form.autor.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_anio">Año:</label>
        {{ form.anio }}
        {% if form.anio.errors %}
            <ul class="errors">
                {% for error in form.anio.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_categoria">Categoría:</label>
        {{ form.categoria }}
        {% if form.categoria.errors %}
            <ul class="errors">
                {% for error in form.categoria.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_isbn">ISBN:</label>
        {{ form.isbn }}
        {% if form.isbn.errors %}
            <ul class="errors">
                {% for error in form.isbn.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_descripcion">Descripción:</label>
        {{ form.descripcion }}
        {% if form.descripcion.errors %}
            <ul class="errors">
                {% for error in form.descripcion.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_puntuacion">Puntuación:</label>
        {{ form.puntuacion }}
        {% if form.puntuacion.errors %}
            <ul class="errors">
                {% for error in form.puntuacion.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button type="submit">Guardar</button>
</form>

<a href="{% url 'lista_libros' %}">Volver</a>
